/* 
    Document   : default
    Created on : Jun 16, 2011, 11:10:07 AM
    Author     : Andrej Kuročenko <kurochenko@gmail.com>
*/

root { display: block; }

a { color: #e6492d; }
a:visited { color: #96210e; }

div#header { width: 100%; }

div#mainmenu { width: 100%; border: 1px black solid; overflow: auto;}
div#mainmenu ul { list-style: none; overflow: hidden;}
div#mainmenu ul li { padding: 0px 5px 0px 5px; float: left; overflow: hidden;}

div#content {width: 100% }
